In [1]:
import pandas as pd
from io import StringIO

data = """
Student_ID,Name,Math_Score,Reading_Score,Writing_Score,Age,Gender
S001,John,85,78,92,15,Male
S002,Anna,90,NA,88,16,Female
S003,George,-1,82,85,17,Male
S004,Emma,78,94,80,16,Female
S005,Liam,92,79,85,16,Male
S006,Olivia,NA,87,91,NA,Female
S007,Lucas,80,80,80,16,Male
S008,Chloe,72,75,NA,15,Female
S009,James,NA,95,95,14,Male
S010,Sophia,88,80,85,16,Female
"""

# Use StringIO to simulate reading from a CSV file
df = pd.read_csv(StringIO(data))

# Save to CSV file
df.to_csv('student_performance_with_missing_values.csv', index=False)
print("CSV file created successfully.")

CSV file created successfully.

In [3]:
import numpy as num 
import pandas as pd
df=pd.read_csv("student_performance_with_missing_values.csv")
df

  Student_ID    Name  Math_Score  Reading_Score  Writing_Score   Age  Gender
0       S001    John        85.0           78.0           92.0  15.0    Male
1       S002    Anna        90.0            NaN           88.0  16.0  Female
2       S003  George        -1.0           82.0           85.0  17.0    Male
3       S004    Emma        78.0           94.0           80.0  16.0  Female
4       S005    Liam        92.0           79.0           85.0  16.0    Male
5       S006  Olivia         NaN           87.0           91.0   NaN  Female
6       S007   Lucas        80.0           80.0           80.0  16.0    Male
7       S008   Chloe        72.0           75.0            NaN  15.0  Female
8       S009   James         NaN           95.0           95.0  14.0    Male
9       S010  Sophia        88.0           80.0           85.0  16.0  Female

In [5]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Student_ID       0
Name             0
Math_Score       2
Reading_Score    1
Writing_Score    1
Age              1
Gender           0
dtype: int64

In [15]:

df['Math_Score'] = df['Math_Score'].fillna(df['Math_Score'].median())
df['Reading_Score'] = df['Reading_Score'].fillna(df['Reading_Score'].median())
df['Writing_Score'] = df['Writing_Score'].fillna(df['Writing_Score'].median())
df['Age'] = df['Age'].fillna(df['Age'].median())

In [17]:
print(df.isnull().sum())

Student_ID       0
Name             0
Math_Score       0
Reading_Score    0
Writing_Score    0
Age              0
Gender           0
dtype: int64

In [19]:
print("\nChecking for negative values in numeric columns:")
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    if (df[col] < 0).any():
        print(f"Negative values found in {col}")

Checking for negative values in numeric columns:
Negative values found in Math_Score

In [21]:
df['Math_Score'] = df['Math_Score'].apply(lambda x: df['Math_Score'].median() if x < 0 else x)

In [29]:
print("\nChecking for negative values in numeric columns:")
for col in df.select_dtypes(include=['float64', 'int64']).columns:
    if (df[col] < 0).any():
        print(f"Negative values found in {col}")
    else :print(f"No negative values in {col}")

Checking for negative values in numeric columns:
No negative values in Math_Score
No negative values in Reading_Score
No negative values in Writing_Score
No negative values in Age

In [37]:
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns


Q1 = df[numeric_columns].quantile(0.25)
Q3 = df[numeric_columns].quantile(0.75)
IQR = Q3 - Q1


outliers = ((df[numeric_columns] < (Q1 - 1.5 * IQR)) | (df[numeric_columns] > (Q3 + 1.5 * IQR)))
print(outliers.sum())

Math_Score       0
Reading_Score    0
Writing_Score    0
Age              1
dtype: int64

In [43]:
import pandas as pd
import numpy as np


mean = df['Math_Score'].mean()
std_dev = df['Math_Score'].std()


df['Math_Score_Z'] = (df['Math_Score'] - mean) / std_dev


outliers = df[df['Math_Score_Z'].abs() >3]

print("Outliers based on Z-score method:")
print(outliers[['Math_Score', 'Math_Score_Z']])

Outliers based on Z-score method:
Empty DataFrame
Columns: [Math_Score, Math_Score_Z]
Index: []